Pandas-数据离散化和独热编码

In [1]:
#导入NumPy包
import numpy as np
#导入Pandas包
import pandas as pd

In [2]:
'''
1.数据离散化：
连续变量的离散化就是将连续变量的值域划分为若干个离散的区间，然后用不同的符号或者整数值代表落在每个子区间的值。
也就是用虚拟变量来表示不同区间的连续变量。
2.数据离散化的步骤：
①分组；
②准换为独热编码（即虚拟变量）。
'''

'\n1.数据离散化：\n连续变量的离散化就是将连续变量的值域划分为若干个离散的区间，然后用不同的符号或者整数值代表落在每个子区间的值。\n也就是用虚拟变量来表示不同区间的连续变量。\n2.数据离散化的步骤：\n①分组；\n②准换为独热编码（即虚拟变量）。\n'

In [3]:
#导入数据
data=pd.Series([165,174,160,180,159,163,192,184],index=['No1:165','No2:174','No3:160','No4:180','No5:159','No6:163','No7:192','No8:184'])

In [4]:
data

No1:165    165
No2:174    174
No3:160    160
No4:180    180
No5:159    159
No6:163    163
No7:192    192
No8:184    184
dtype: int64

In [5]:
#分组

#自动分组，第二个参数是组数
data1=pd.qcut(data,3)
print(data1)
#返回每组的数量
print(data1.value_counts())

#手动分组，第二个参数是分组的区间分界点
bins=[150,165,180,195]
data2=pd.cut(data,bins)
print(data2)
#返回每组的数量
print(data2.value_counts())

No1:165      (163.667, 178.0]
No2:174      (163.667, 178.0]
No3:160    (158.999, 163.667]
No4:180        (178.0, 192.0]
No5:159    (158.999, 163.667]
No6:163    (158.999, 163.667]
No7:192        (178.0, 192.0]
No8:184        (178.0, 192.0]
dtype: category
Categories (3, interval[float64]): [(158.999, 163.667] < (163.667, 178.0] < (178.0, 192.0]]
(158.999, 163.667]    3
(178.0, 192.0]        3
(163.667, 178.0]      2
dtype: int64
No1:165    (150, 165]
No2:174    (165, 180]
No3:160    (150, 165]
No4:180    (165, 180]
No5:159    (150, 165]
No6:163    (150, 165]
No7:192    (180, 195]
No8:184    (180, 195]
dtype: category
Categories (3, interval[int64]): [(150, 165] < (165, 180] < (180, 195]]
(150, 165]    4
(165, 180]    2
(180, 195]    2
dtype: int64

In [6]:
#独热编码
pd.get_dummies(data2,prefix='height')

         height_(150, 165]  height_(165, 180]  height_(180, 195]
No1:165                  1                  0                  0
No2:174                  0                  1                  0
No3:160                  1                  0                  0
No4:180                  0                  1                  0
No5:159                  1                  0                  0
No6:163                  1                  0                  0
No7:192                  0                  0                  1
No8:184                  0                  0                  1