Pandas-读取和存储文件

In [1]:
#导入NumPy包
import numpy as np
#导入Pandas包
import pandas as pd

In [2]:
#读取csv文件

#读取csv文件并选择字段
data1=pd.read_csv('stock_day.csv',usecols=['high','low','open','close'])
print(data1)
#读取没有字段名的csv文件并设置字段名
data2=pd.read_csv('stock_day2.csv',names=['open','high','close','low','volume','price_change','p_change','ma5','ma10','ma20','v_ma5','v_ma10','v_ma20','turnover'])
print(data2)

             open   high  close    low
2018-02-27  23.53  25.88  24.16  23.53
2018-02-26  22.80  23.78  23.53  22.80
2018-02-23  22.88  23.37  22.82  22.71
2018-02-22  22.25  22.76  22.28  22.02
2018-02-14  21.49  21.99  21.92  21.48
...           ...    ...    ...    ...
2015-03-06  13.17  14.48  14.28  13.13
2015-03-05  12.88  13.45  13.16  12.87
2015-03-04  12.80  12.92  12.90  12.61
2015-03-03  12.52  13.06  12.70  12.52
2015-03-02  12.25  12.67  12.52  12.20

[643 rows x 4 columns]
             open   high  close    low     volume  price_change  p_change  \
2018-02-27  23.53  25.88  24.16  23.53   95578.03          0.63      2.68
2018-02-26  22.80  23.78  23.53  22.80   60985.11          0.69      3.02
2018-02-23  22.88  23.37  22.82  22.71   52914.01          0.54      2.42
2018-02-22  22.25  22.76  22.28  22.02   36105.01          0.36      1.64
2018-02-14  21.49  21.99  21.92  21.48   23331.04          0.44      2.05
...           ...    ...    ...    ...        ...           ...       ...
2015-03-06  13.17  14.48  14.28  13.13  179831.72          1.12      8.51
2015-03-05  12.88  13.45  13.16  12.87   93180.39          0.26      2.02
2015-03-04  12.80  12.92  12.90  12.61   67075.44          0.20      1.57
2015-03-03  12.52  13.06  12.70  12.52  139071.61          0.18      1.44
2015-03-02  12.25  12.67  12.52  12.20   96291.73          0.32      2.62

               ma5    ma10    ma20      v_ma5     v_ma10     v_ma20  turnover
2018-02-27  22.942  22.142  22.875   53782.64   46738.65   55576.11      2.39
2018-02-26  22.406  21.955  22.942   40827.52   42736.34   56007.50      1.53
2018-02-23  21.938  21.929  23.022   35119.58   41871.97   56372.85      1.32
2018-02-22  21.446  21.909  23.137   35397.58   39904.78   60149.60      0.90
2018-02-14  21.366  21.923  23.253   33590.21   42935.74   61716.11      0.58
...            ...     ...     ...        ...        ...        ...       ...
2015-03-06  13.112  13.112  13.112  115090.18  115090.18  115090.18      6.16
2015-03-05  12.820  12.820  12.820   98904.79   98904.79   98904.79      3.19
2015-03-04  12.707  12.707  12.707  100812.93  100812.93  100812.93      2.30
2015-03-03  12.610  12.610  12.610  117681.67  117681.67  117681.67      4.76
2015-03-02  12.520  12.520  12.520   96291.73   96291.73   96291.73      3.30

[643 rows x 14 columns]

In [3]:
#保存数据到csv文件

'''
.to_csv()的参数：
①columns：需要保存的字段名；
②index：是否保留索引列，默认值为True；
③header：是否保留字段名，默认值为True；
④mode：取值为a时为追加模式，在原数据表格下方续写。
'''

#保存open列前10行，并且不保留索引列
data1[:10].to_csv('open.csv',columns=['open'],index=False,header=False)

In [4]:
pd.read_csv('open.csv')

   23.53
0  22.80
1  22.88
2  22.25
3  21.49
4  21.40
5  20.70
6  21.20
7  21.79
8  22.69

In [5]:
#读取hdf5文件

'''
hdf5文件以键值对的形式存储三维数据，每个键对应一个二维数据表格，对于含有多个键值对的hdf5文件，在读取时需要指定一个特定的键。
'''

#（对于单个键值对的hdf5文件，可以不设置key参数）
day_open=pd.read_hdf('day_open.h5')
day_close=pd.read_hdf('day_close.h5')
print(day_open)
print(day_close)

      000001.SZ  000002.SZ  000004.SZ  000005.SZ  000006.SZ  000007.SZ  \
0         15.50      16.15       4.26       2.73      13.99       2.52
1         16.50      17.94       4.53       2.91      14.78       2.61
2         17.00      18.80       4.63       3.04      16.08       2.65
3         16.95      16.59       4.52       3.02      13.20       2.63
4         16.20      16.96       4.50       2.95      13.17       2.80
...         ...        ...        ...        ...        ...        ...
2673      13.25      35.11      23.11       4.29       9.85      16.66
2674      12.96      35.63      22.84       4.35       9.85      16.66
2675      13.04      35.60      23.03       4.39       9.85      16.66
2676      13.41      35.55      22.35       4.30       9.85      16.66
2677      13.45      35.10      22.10       4.28       9.85      16.66

      000008.SZ  000009.SZ  000010.SZ  000011.SZ  ...  001965.SZ  603283.SH  \
0          4.76       4.45       5.37       5.79  ...        NaN        NaN
1          4.99       4.69       5.37       6.03  ...        NaN        NaN
2          4.96       4.73       5.37       6.26  ...        NaN        NaN
3          4.81       4.35       5.37       5.74  ...        NaN        NaN
4          4.88       4.34       5.37       5.80  ...        NaN        NaN
...         ...        ...        ...        ...  ...        ...        ...
2673       8.54       7.55       5.63      17.75  ...      12.90      23.42
2674       8.47       7.55       6.27      17.70  ...      12.95      25.76
2675       8.49       7.47       6.00      17.63  ...      12.68      28.34
2676       8.41       7.04       5.96      17.35  ...      12.14      31.17
2677       8.58       7.07       5.81      17.45  ...      12.14      34.29

      002920.SZ  002921.SZ  300684.SZ  002922.SZ  300735.SZ  603329.SH  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1           NaN        NaN        NaN        NaN        NaN        NaN
2           NaN        NaN        NaN        NaN        NaN        NaN
3           NaN        NaN        NaN        NaN        NaN        NaN
4           NaN        NaN        NaN        NaN        NaN        NaN
...         ...        ...        ...        ...        ...        ...
2673      47.89      32.40      22.45      28.79      23.18      24.45
2674      48.00      35.64      24.70      31.67      25.50      26.90
2675      43.68      39.20      27.17      34.46      28.05      29.59
2676      42.71      40.02      29.89      34.84      28.54      32.02
2677      42.95      38.28      32.88      34.84      28.02      34.45

      603655.SH  603080.SH
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
2673      14.98      26.06
2674      16.48      28.67
2675      18.13      31.54
2676      19.94      34.69
2677      21.93      38.16

[2678 rows x 3562 columns]
      000001.SZ  000002.SZ  000004.SZ  000005.SZ  000006.SZ  000007.SZ  \
0         16.30      17.71       4.58       2.88      14.60       2.62
1         17.02      19.20       4.65       3.02      15.97       2.65
2         17.02      17.28       4.56       3.06      14.37       2.63
3         16.18      16.97       4.49       2.95      13.10       2.73
4         16.95      17.19       4.55       2.99      13.18       2.77
...         ...        ...        ...        ...        ...        ...
2673      12.96      35.99      22.84       4.37       9.85      16.66
2674      13.08      35.84      23.02       4.41       9.85      16.66
2675      13.47      35.67      22.40       4.32       9.85      16.66
2676      13.40      35.15      22.29       4.29       9.85      16.66
2677      13.55      35.55      22.20       4.37       9.85      16.66

      000008.SZ  000009.SZ  000010.SZ  000011.SZ  ...  001965.SZ  603283.SH  \
0          4.96       4.66       5.37       6.02  ...        NaN        NaN
1          4.95       4.70       5.37       6.27  ...        NaN        NaN
2          4.82       4.47       5.37       5.96  ...        NaN        NaN
3          4.89       4.33       5.37       5.77  ...        NaN        NaN
4          4.97       4.42       5.37       5.92  ...        NaN        NaN
...         ...        ...        ...        ...  ...        ...        ...
2673       8.47       7.52       6.20      17.88  ...      12.99      23.42
2674       8.49       7.48       6.01      17.75  ...      12.83      25.76
2675       8.49       7.38       5.97      17.45  ...      12.20      28.34
2676       8.56       7.04       5.84      17.49  ...      12.11      31.17
2677       8.67       7.06       5.99      17.76  ...      11.91      34.29

      002920.SZ  002921.SZ  300684.SZ  002922.SZ  300735.SZ  603329.SH  \
0           NaN        NaN        NaN        NaN        NaN        NaN
1           NaN        NaN        NaN        NaN        NaN        NaN
2           NaN        NaN        NaN        NaN        NaN        NaN
3           NaN        NaN        NaN        NaN        NaN        NaN
4           NaN        NaN        NaN        NaN        NaN        NaN
...         ...        ...        ...        ...        ...        ...
2673      47.99      32.40      22.45      28.79      23.18      24.45
2674      45.14      35.64      24.70      31.67      25.50      26.90
2675      43.21      39.20      27.17      34.84      28.05      29.59
2676      43.76      40.88      29.89      34.84      29.64      32.55
2677      41.71      39.10      32.88      34.84      27.92      31.82

      603655.SH  603080.SH
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
2673      14.98      26.06
2674      16.48      28.67
2675      18.13      31.54
2676      19.94      34.69
2677      21.93      38.16

[2678 rows x 3562 columns]

In [6]:
#存储hdf5文件

#将不同的DataFrame存储到hdf5文件的不同键值对
day_open.to_hdf('day.h5',key='open')
day_close.to_hdf('day.h5',key='close')

In [7]:
#读取json文件

'''
pd.read_json()的参数：
①orient：格式，一般设置为'records'；
②lines：是否以一行为一条记录，默认值为False，一般设置为True。
'''

json_data=pd.read_json('Sarcasm_Headlines_Dataset.json',orient='records',lines=True)
print(json_data)

                                            article_link  \
0      https://www.huffingtonpost.com/entry/versace-b...
1      https://www.huffingtonpost.com/entry/roseanne-...
2      https://local.theonion.com/mom-starting-to-fea...
3      https://politics.theonion.com/boehner-just-wan...
4      https://www.huffingtonpost.com/entry/jk-rowlin...
...                                                  ...
26704  https://www.huffingtonpost.com/entry/american-...
26705  https://www.huffingtonpost.com/entry/americas-...
26706  https://www.huffingtonpost.com/entry/reparatio...
26707  https://www.huffingtonpost.com/entry/israeli-b...
26708  https://www.huffingtonpost.com/entry/gourmet-g...

                                                headline  is_sarcastic
0      former versace store clerk sues over secret 'b...             0
1      the 'roseanne' revival catches up to our thorn...             0
2      mom starting to fear son's web series closest ...             1
3      boehner just wants wife to listen, not come up...             1
4      j.k. rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
26704               american politics in moral free-fall             0
26705                            america's best 20 hikes             0
26706                              reparations and obama             0
26707  israeli ban targeting boycott supporters raise...             0
26708                  gourmet gifts for the foodie 2014             0

[26709 rows x 3 columns]

In [8]:
#存储json文件

#（.to_json()的参数设置和pd.read_json()类似）
json_data.to_json('json_data.json',orient='records',lines=True)